* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    background-color: purple;
    color: white;
}
#heading_navbar {
    display: flex;
    align-items: center;
}
#menu_container {
    position: relative;
    display: none; /* To position the dropdown links */
}

#navbar_links {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#hamburger_navbar_links {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: purple;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    z-index: 1000;
}
a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#hamburger {
    font-size: 25px;
    cursor: pointer;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#main_information {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#main_content {
    border: 1px solid rgb(53, 53, 162);
    border-radius: 5px;
    width: 70vw;
}

#heading_main_content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(179, 179, 254);
    color: rgb(53, 53, 162);
    padding: 20px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

#data_main_content {
    padding: 30px;
}

#button_main {
    margin: 0px auto;
    width: 70vw;
    display: flex;
    justify-content: end;
}

#web_safe_color_generator {
    height: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-size: large;
    cursor: pointer;
}

#display_web_safe_color {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.box_display_web_safe_color {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#copyright {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 650px) {
    #data_main_content {
        flex-direction: column;
        gap: 20px;
    }
    #navbar_links {
        display: none;
    }
    #menu_container {
        display: block;
    }
    #menu_container:hover #hamburger_navbar_links {
        display: flex;
    }
}
